<div class="container" id="gods">
    <div class="page-header">
        <h1>Posts</h1>
    </div>
    <ul>
        <li ng-repeat="p in gods.gods">
            <article class="god">
                <header class="god-header">
                    <h2 class="god-title"><a ng-href="./#/gods/{{p.id}}">{{p.title}}</a></h2>
                </header>
                <section class="god-excerpt">
                    <p>{{p.body}} <a class="read-more" ng-href="./#/gods/{{p.id}}">...read more</a></p>
                </section>
            </article>
            <hr>
        </li>
    </ul>
</div>
